/** BASE **/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 80px; /* bottom = footer height */
    background-color: #fdfdfd;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: #1e1e1e;    
	border-top: #7a7a7a solid 2px;
}

div.footer {
	font-size: 12px;
	text-align: center;
	margin-top: 30px;
	color: #fff;
	letter-spacing: 0.04em;
	font-family: 'Lato';
	font-weight: 100;
	word-spacing: 0.1em;
}


/** ELEMENTS **/

.clear {
    clear: both;
    line-height: 1;
}

.fl { float: left; }

.header {
	width: 100%;
	height: 130px;
	display: block;
	text-align: center;
	margin-bottom: 15px;
	font-family: 'Montserrat';
	background: #1e1e1e;
	padding-top: 25px;
	padding-bottom: 30px;
	color: #fff;
	border-bottom: #7a7a7a solid 2px;
}

.header h1 {
	font-weight: 500;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.nav a {
	cursor: auto;
}

.container {
	min-height: 100%;
	width: 100%;
}

hr {
	color: white;
	background-color: white;
	margin: 0 auto;
	margin-top: 8px;
	height: 2px;
	border-width: 0;
}

hr.short {
	width: 14%;
}

a {
	text-decoration: none;
	color: #fff;
}

a.button {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 30px;
	line-height: 50px;
	/*padding: 4px;
	padding-left: 8px;
	padding-right: 8px;*/
	box-shadow: 1px 2px 8px #888888;
}

span {
	font-family: 'Lato';
}

.header span {
	font-weight: 300;
}

.footer span {	
	line-height: 23px;
}

.footer .heart {
	font-size: 12px;
	color: #da4e4e;
	margin-left: 2px;
}

.footer div.follow {	
	display: inline-block;
	margin: 0 auto;
}

.footer span.spotify-logo {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url("img/spotify-logo-vertical-white-rgb.png");
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	margin-right: 6px;
}

.footer a {
	cursor: auto;
	margin-bottom: 2px;
}

.footer a:hover {	
	border-bottom: 1px solid #fff;
}

/** AUDIO **/

.audiojs .scrubber {
    background: none repeat scroll 0 0 #5A5A5A;
    border-bottom: 0 none;
    border-left: 0 none;
    border-top: 1px solid #3F3F3F;
    float: left;
    height: 14px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 140px;
}

.audiojs .loaded {
	border: none;
	background: #7a7a7a;
    background-image: none;
}

.audiojs .progress {
	border: none;
	background: #f1f1f1;
    background-image: none;
}

.audiojs .play-pause {
	width: 20px;
	padding: 4px 5px;
}

.audiojs .time {
    border-left: 1px solid #000000;
    color: #f1f1f1;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0; /* no margin */
    padding: 0 6px 0 5px; /* 2px smaller left padding */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.audiojs {
    font-family: 'Lato';
    font-size: 10px; /* reduced font size */
    width: 300px;
    box-shadow: none;
    background: #1e1e1e;
    background-image: none;
}

/** 404 **/

.error-page {
	width: 100%;	
	font-family: 'Lato';
	font-size: 22px;	
	text-align: center;
	color: #1e1e1e;
	margin-top: 200px;
}

.error-page h1 {
	font-size: 36px;	
	letter-spacing: 0.04em;
}

.error-page h2 {
	font-size: 48px;
	text-shadow: 2px 2px #aeaeae;
}

.error-page b {
	background-color: #1e1e1e;
	color: #fff;
}

.error-page a {
	color: #1e1e1e;
}

.error-page a:hover {	
	text-decoration: underline;
}

a.hidden-link {
	color: inherit;
    cursor: text;
    text-decoration: none;
}

a.hidden-link:hover {
	text-decoration: none;
}

/** HOMEPAGE **/

.container.main {
	width: 100%;
	height: 280px;
	display: block;
	margin: 0 auto;
	padding-top: 25px;
	line-height: 20px;	
	text-align: center;
}

.menu a {
	font-family: 'Lato';
	color: #fff;
	padding-left: 16px;
	padding-right: 8px;
}

a.band {
	cursor: crosshair;
	font-family: 'Josefin Slab';
	font-weight: 400;
	font-size: 20px;
	color: #000000;
	text-decoration: none;
	text-transform: none;	
	transition: all 250ms ease-out;
}

a.band:hover {
	margin-left: 10px;
}

div.all-bands {
	width: 100%;
	float: left;
	text-align: left;
	margin-top: 10px;	
	margin-bottom: 20px;
	padding-left: 10%;
	padding-right: 0px;

	-webkit-column-count: 3;
      -moz-column-count: 3;
           column-count: 3;

   -webkit-column-gap: 50px;
      -moz-column-gap: 50px;
           column-gap: 50px;

   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.all-bands span {
	line-height: 2;
}


/** BAND PROFILE **/

div.nav {
	font-family: 'Lato';
	background-color: #1e1e1e;
	width: 100%;
	height: 60px;
	text-align: center;
	z-index: 100;
	position: absolute;
}

.nav div {
	width: 40px;
	height: 40px;
	margin: 12px;
}

.nav div a {
	opacity: 0.75;
}

.nav div a:hover {
	opacity: 1;
}

.home {	
	float: left;
}

.home a {
	display: block;
	width: 35px;
	height: 35px;

	background-image: url("img/home.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.random {
	float: right;
}

.random a {
	display: block;
	width: 32px;
	height: 29px;

	background-image: url("img/shuffle.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.header h1.band {
	font-size: 50px;
}

.album {
	float: left;
	width: 300px;
	height: 300px;
	background-color: #fff;
	margin: 63px;
	position: relative;
}

.album img {
	float: left;
	vertical-align: center;
	height: 292px;
	width: 292px;
	border: 4px solid #1e1e1e;
	border-bottom: none;
	z-index: -50;
}

div.overlay {
	background-color: #fefefe;
	position: absolute;
	width: 284px;
	height: 284px;
	padding: 4px;
	transition: all 250ms ease-out;
	z-index: -10;
}

.album .description {
	position: absolute;
	width: 292px;
	height: 288px;
	display: block;
	text-align: center;
	padding: 4px;
	opacity: 0;		
	/*overflow: auto;*/
	/*z-index: 10;*/
}

.album .description:hover {
	opacity: 0.7;
}

.album .text {
	font-family: 'Josefin Slab';
	letter-spacing: 0.02em;
	margin: 10px;
	z-index: 10;

	overflow: auto;
	position: absolute;
	width: 272px;
	height: 272px;
	display: block;
}

.text h4 {
	margin-top: -10px;
}

.album h2 {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.album p {
	font-size: 16px;
	width: 251px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
}

div.spotify-url {
	z-index: 1;
	margin-top: -40px;
	height: 40px;
}

.spotify-url a {
	width: 24px;
	height: 24px;
	display: block;
	float: right;
	margin: 6px 6px;

	background-image: url("img/spotify-logo-primary-vertical-dark-background-rgb.png");
	background-size: cover;
	background-repeat: no-repeat;
}


/** CODEPEN (BY @ASHNOLAN) **/

.btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  /*color: #000;*/
  color: #da4e4e;;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: flat;
  transition: all 250ms ease-out;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

/* Paper effect – slightly raised off background */
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}

/* Raised effect – pushes up on hover */
.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.paper-raise:hover {
  border: 1px solid #fff;
}
.paper-raise:hover:before {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.paper-raise-flatten {
  border-color: #fff;
  box-shadow: none;
}
.paper-raise-flatten:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
.paper-raise-flatten:hover {
  border-color: #dedede;
}
.paper-raise-flatten:hover:before {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}

