/** BASE **/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 80px; /* bottom = footer height */
    background-color: #fdfdfd;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: #1e1e1e;    
	border-top: #7a7a7a solid 2px;
}

div.footer {
	font-size: 13px;
	text-align: center;
	margin-top: 30px;
	color: #fff;
	letter-spacing: 0.04em;
	font-family: 'Lato';
}


/** ELEMENTS **/

.clear {
    clear: both;
    line-height: 1;
}

.fl { float: left; }

.header {
	width: 100%;
	height: 120px;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Montserrat';
	background: #1e1e1e;
	padding-top: 25px;
	padding-bottom: 20px;
	color: #fff;
	border-bottom: #7a7a7a solid 2px;
}

.header h1 {
	font-weight: 500;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.container {
	min-height: 100%;
	width: 100%;
}

hr {
	color: white;
	background-color: white;
	margin: 0 auto;
	margin-top: 8px;
	height: 2px;
	border-width: 0;
}

hr.short {
	width: 14%;
}

a {
	cursor: crosshair;
	text-decoration: none;
	color: #fff;
}

a.button {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 30px;
	line-height: 50px;
	/*padding: 4px;
	padding-left: 8px;
	padding-right: 8px;*/
	/*box-shadow: 3px 2px 12px #888888;*/
}


span {
	font-family: 'Lato';
}

.header span {
	font-weight: 300;
}

.footer span {
	font-weight: 100;
	line-height: 20px;
}

.footer span a {
	cursor: auto;
	margin-bottom: 2px;
	border-bottom: 1px solid #fff;
}


/** HOMEPAGE **/

.container.main {
	width: 100%;
	height: 280px;
	display: block;
	margin: 0 auto;
	padding-top: 35px;
	line-height: 20px;	
	text-align: center;
}

.menu a {
	font-family: 'Lato';
	color: #fff;
	padding-left: 16px;
	padding-right: 8px;
}

a.band {
	font-family: 'Josefin Slab';
	font-weight: 400;
	font-size: 20px;
	color: #000000;
	text-decoration: none;
	text-transform: none;	
	transition: all 250ms ease-out;
}

a.band:hover {
	margin-left: 8px;
}

div.all-bands {
	width: 100%;
	float: left;
	text-align: left;
	margin-top: 10px;	
	margin-bottom: 20px;
	padding-left: 10%;
	padding-right: 0px;

	-webkit-column-count: 3;
      -moz-column-count: 3;
           column-count: 3;

   -webkit-column-gap: 50px;
      -moz-column-gap: 50px;
           column-gap: 50px;

   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.all-bands span {
	line-height: 2;
}


/** BAND PROFILE **/

.album {
	float: left;
	width: 300px;
	height: 300px;
	background-color: #fff;
	margin: 63px;
	position: relative;
}

.album img {
	float: left;
	vertical-align: center;
	height: 300px;
	width: 300px;
}


.album .description {
	font-family: 'Josefin Slab';
	position: absolute;
	width: 300px;
	height: 270px;
	display: block;
	text-align: center;
	padding-top: 30px;
	opacity: 0;
	letter-spacing: 0.02em;
	overflow: auto;
	margin-bottom: 20px;
	transition: all 250ms ease-out;
}

.album .description:hover {
	opacity: 0.7;
	background: #fefefe;
}

.album h2 {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.album p {
	font-size: 16px;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
}

/** CODEPEN (BY @ASHNOLAN) **/

.btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: flat;
  transition: all 250ms ease-out;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

/* Paper effect – slightly raised off background */
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}

/* Raised effect – pushes up on hover */
.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.paper-raise:hover {
  border: 1px solid #fff;
}
.paper-raise:hover:before {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.paper-raise-flatten {
  border-color: #fff;
  box-shadow: none;
}
.paper-raise-flatten:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
.paper-raise-flatten:hover {
  border-color: #dedede;
}
.paper-raise-flatten:hover:before {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}
