html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 80px; /* bottom = footer height */
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: #000000;
}

div.footer {
	font-size: 13px;
	text-align: center;
	margin-top: 40px;
	color: #fff;
	letter-spacing: 0.04em;
}

/** ELEMENTS **/

.clear {
    clear: both;
    line-height: 0;
}

.fl { float: left; }

.header {
	width: 100%;
	height: 60%;
	display: block;
	opacity: 0.8;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: 'Lato'
}

.header h1 {
	font-weight: 500;
}

.container {
	min-height: 100%;
	width: 100%;
}

a {
	font-family: 'Josefin Slab';
	cursor: crosshair;
	text-decoration: none;
	color: #000000;
}

span {
	font-family: 'Lato';
}

.header span {
	font-weight: 300;
	font-style: italic;
}

.footer span {
	font-weight: 100;
}

/*table {
	margin-top: 80px;
	width: 100%;
	border-collapse: collapse;
}

th {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	height: 60px;
}

tr {
	cursor: pointer;
}

th:hover {
	text-shadow: 2px 2px #dedede;
}

tr:nth-child(4n), tr:nth-child(4n-1) {
    background-color: #C3C3C3;
}

tr:nth-child(4n-2), tr:nth-child(4n-3) {
    background-color: #313131;
}

td {
	padding: 15px;
}*/

/** HOMEPAGE **/

.container.main {
	width: 1200px;
	height: 300px;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	line-height: 20px;	
	text-align: center;

}

a.band {
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
	text-transform: none;
}

div.all-bands {
	width: 100%;
	float: left;
	text-align: left;
	margin-top: 20px;
	margin-left: 10%;

	-webkit-column-count: 3;
      -moz-column-count: 3;
           column-count: 3;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
}

.all-bands span {
	line-height: 2;
}


/** BAND PROFILE **/

.album {
	float: left;
	width: 300px;
	height: 300px;
	background-color: #fff;
	margin: 63px;
	position: relative;
	/*border-bottom: 5px solid #000000;*/
}

.album img {
	float: left;
	vertical-align: center;
	height: 300px;
	width: 300px;
}

/*#listen {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}*/

.album .description {
	font-family: 'Josefin Slab';
	position: absolute;
	width: 300px;
	height: 270px;
	display: block;
	text-align: center;
	padding-top: 30px;
	opacity: 0;
	letter-spacing: 0.02em;
	overflow: auto;

	margin-bottom: 20px;
}

.album .description:hover {
	opacity: 0.7;
	background: #fefefe;
}

.album h2 {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.album p {
	font-size: 16px;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
}

audio {
	
}

/*.columns div {
	font-size: 14px;
	float: left;
	width: 45%;
	text-align: left;
}

div#column2 {	
	padding-left: 22px;
}

.columns li {
	text-align: left;
	font-size: 14px;
}*/

/*.audio-controls {
	width: 300px;
	display: block;
	text-align: center;
	position: absolute;
}*/

/*.audio-controls button {
	width: 80px;
	margin: 5px;
}*/

